@font-face {
    font-family: 'JKAbode';
    src: url(../font/JKAbode-Demo.ttf) format(truetype), url(../font/JKAbode-LightDemo.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

.login-bg {
    margin: auto;
    height: 802px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.login-painel {
    margin: auto;
    display: block;
    max-width: 1100px;
    width: 705px;
    height: 802px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #F7F8FF;
    align-items: center;
}

.login-painel h1 {
    margin: 0 auto;
    color: #E0B441;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'JKAbode', 'Times New Roman', Times, serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 115px;
}


.regis {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
}

.regis input{
    padding: 10px;
    color: #946F0D;
    font-size: 24px;
    font-family: 'roboto','Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 3.6px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 530px;
    height: 20px;
    background: none;
}

.regis input:focus {
    outline: none;
}

.half-box {
    padding-top: 120px;
}

.full-box {
    padding-top: 60px;
}