/*Titulo Serviços*/

.tituloserv {
    background: url(../img/serviçosfundo.png);
    height: 200px;
    width: 100%;
}

.tituloserv h1 {
    margin: 0 auto;
    font-size: 60px;
}

.titulo {
    padding-top: 59px;
}

.barra1-1 {
    max-width: 1100px;
    background: #e0b441;
    border-radius: 15px;
    width: 100px;
    height: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.barra1-2 {
    max-width: 1100px;
    background: #e0b441;
    border-radius: 15px;
    width: 100px;
    height: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

/*Serviços*/

.tiposdeserv {
    margin: 0 auto;
}

.tiposdeserv p {
    margin: 0 auto;
    color: #E0B441;
    text-align: center;
    font-size: 36px;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    width: 910px;
    height: 100px;
    justify-content: center;
    padding-top: 60px;
}

.semfundo {
    background-color: none;
    height: 220px;
}

.fundoama {
    background-color: #E0B441;;
    width: 100%;
    margin: 0 auto;
    height: 220px;
}

.fundoama p {
    color: white;
    font-size: 36px;   
    padding-top: 75px;
}