body {
    margin: 0px;
    font: arial, helvetica, ;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-bg {
    background-color: #1C3A94;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu {
    display: flex;
    gap: 25px;
}

.header-menu a {
    padding: 8px 0px;
    display: inline-block;
    color: #E0B441;
    font-size: 18px;
    font-family: Arial;
    font-weight: 700;
}


/*Introduçao*/

.introducao {
    background: url(../img/image\ 1.png) center no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 475px;
    display: block;
}

.introducao-texto {
    padding-top: 57px;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 3.5fr 7fr;
    gap: 170px;
}


.introducao-texto p {
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: Arial;
    font-style: italic;
    font-weight: 700;
    word-wrap: break-word;
}

/*Conheça nossos serviços*/

.barra-1 {
    max-width: 1100px;
    background: #e0b441;
    border-radius: 15px;
    width: 200px;
    height: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.barra-2 {
    max-width: 1100px;
    background: #e0b441;
    border-radius: 15px;
    width: 200px;
    height: 5px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.titulo {
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
}

.titulo h1 {
    text-align: center;
    font-family: Arial;
    font-weight: 700;
    color: #E0B441;
    font-size: 42px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.servicos {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
}

.designer {
    display: inline;
}

.designer h2 {
    display: flex;
    width: 154px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #E0B441;
    text-align: justify;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
}

.designer img {
    width: 245px;
    height: 245px;
    border-radius: 20px;
    background: url(../img/conceito-de-estrategia-de-planejamento-de-estrategia-de-marketing.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.designer p {
    display: inline-block;
    width: 811px;
    height: 245px;
    color: #946F0D;
    text-align: justify;
    font-size: 24px;
    font-family: Arial;
    position: absolute;
    padding-left: 40px;
    margin: 0 auto;
}

.programador {
    display: inline;
    max-width: 1100px;
}

.programador h2 {
    margin-left: 945px;
    margin-top: 80px;
    display: flex;
    width: 154px;
    flex-direction: column;
    justify-content: right;
    flex-shrink: 0;
    color: #E0B441;
    text-align: justify;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
}

.programador p {
    display: inline-block;
    width: 811px;
    height: 245px;
    color: #946F0D;
    text-align: justify;
    font-size: 24px;
    font-family: Arial;
    position: absolute;
    margin: 0 auto;
    margin-left: 0;
}

.programador img {
    display: inline-block;
    margin-left: 855px;
    width: 245px;
    height: 245px;
    border-radius: 20px;
    background: url(../img/conceito-de-estrategia-de-planejamento-de-estrategia-de-marketing.jpg), lightgray 50% / center no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.analista {
    display: inline;
}

.analista h2 {
    margin-top: 80px;
    display: flex;
    width: 304px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #E0B441;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    word-wrap: break-word
}

.analista img {
    box-sizing: border-box;
    border-radius: 20px;
    width: 245px;
    height: 245px;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.analista p {
    display: inline-block;
    width: 811px;
    height: 245px;
    color: #946F0D;
    text-align: justify;
    font-size: 24px;
    font-family: Arial;
    position: absolute;
    padding-left: 40px;
    margin: 0 auto;
}

.botao {
    max-width: 1100px;
}

.botao h3 {
    color: #638AFF;
    font-size: 24px;
    font-family: Arial;
    font-weight: 700;
    text-decoration: underline;
    word-wrap: break-word;
    max-width: 100%;
    text-align: center;
    margin-top: 80px;
}

.btn {
    display: inline-block;
    background-color: #1C3A94;
    border-style: none;
    color: white;
    width: 130px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    padding-top: 3px;
    align-items: center;
    margin-left: 480px;
    margin-bottom: 80px;
}

.btn:hover {
    background-color: #ffffff;
    border-style: outset;
    border-color: #1C3A94;
    color: #1C3A94;
    width: 130px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/*Se inscreva*/


.inscrever {
    background-color: #638AFF;
    margin: 0 auto;
    max-width: 100%;
    height: 640px;
    display: block;
}

.inscrever h1 {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #E0B441;
    text-align: center;
    text-shadow: 0px 4px 4px 0px black;
    font-size: 60px;
    font-family: Arial;
    font-weight: 700;
    text-decoration-line: underline;
}

.inscrever-texto {
    padding-top: 27px;
    max-width: 1100px;
    margin: 0 auto;
}

.inscrever-texto img {
    float: left;
}

.inscrever-texto p {
    display: flex;
    margin: 0;
    text-align: left;
    color: white;
    font-size: 22px;
    font-family: Arial;
    font-weight: 700;
    width: 651px;
    float: right;
    flex-direction: column;
    flex-shrink: 0;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-1 {
    border-style: none;
    display: inline-block;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #E0B441;
    color: #1C3A94;
    width: 130px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    padding-top: 3px;
    margin-left: 375px;
    margin-top: 40px;

}

.btn-1:hover {
    background-color: #ffffff;
    border-style: outset;
    border-color: #E0B441;
    color: #E0B441;
    width: 130px;
    height: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/*quote*/

.quote {
    background: url(../img/aaa.jpeg);
    backdrop-filter: blur(10px);
    background-color:#727272 ;
    width: 100%;
    max-height: 100%;
    height: 150px;
    position: absolute;
    object-fit: fill;
}



.quote-texto {
    padding-top: 44px;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(96, 96, 96, 0.25);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    width: 510px;
    box-sizing: border-box;
    word-wrap: break-word;
}

